
.skills {
  padding:2rem 0 7rem 0;
  background-color: var(--background-color);
  color: var(--text-primary);
}

.projects-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.skill-category-card {
  background-color: var(--surface-color3);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px var(--shadow-color);
  padding: 1.5rem;
  width: calc(33.333% - 2rem); 
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 30px;
}


.skill-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
  border: 2px solid var(--border-color);
  transition: transform 0.3s;
  flex: 1 1 120px;
  min-width: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillimg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
}

.skillname {
  font-size: 1rem;
  text-align: left;
  color: var(--text-secondary);
}


@media screen and (max-width: 1024px) {
  .skill-category-card {
    width: calc(50% - 1.5rem); 
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    gap: 1rem;
    margin:20px;
  }

  .skill-category-card {
    width: 100%;
    max-width: none;
  }
}
