.extracurricular-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
}


.achievement-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.achievement-item {
    font-size: 17px;
    color: var(--text-primary);
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-color);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(50% - 90px); 
    max-width: calc(50% - 90px);
}

.achievement-item:hover {
    background-color: var(--bg-extra-color);
    transform: scale(1.02);
    box-shadow: 0 6px 12px var(--shadow-color);
}

.achievement-item:last-child {
    border-bottom: none;
}

.certificate-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.certificate-images {
    display: flex;
    gap: 10px;
}

.certificate-image-container {
    position: relative;
    width: 50px;
    height: 70px; 
    overflow: hidden;
    cursor: pointer;
}

.certificate-image {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.certificate-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--shadow-color);
}

.expand-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s;
}

.certificate-image-container:hover .expand-icon {
    transform: scale(1.1);
}

.certificate-title {
    flex: 1;
}

.expanded-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.expanded-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

@media (max-width: 768px) {
    .achievement-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
    
    .certificate-image-container {
        width: 50px;
        height: 70px; /* Adjust height */
    }

    .certificate-image {
        width: 100%;
        height: 100%;
    }
}

.light-theme .extracurricular-container {
    background-color: var(--surface-color);
}

.light-theme .achievement-item {
    border-bottom: 1px solid var(--border-color);
}

.dark-theme .extracurricular-container {
    background-color: var(--background-color3);
}

.dark-theme .achievement-item {
    border-bottom: 1px solid var(--border-color2);
}
