
.cont {
  background: linear-gradient(170deg, var(--background-color), var(--background-color), var(--bg-extra-color2),var(--bg-extra-color), var(--bg-extra-color));
  padding: 50px 20px;
  color: var(--primary-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 94%, 0 100%);
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 980px;
  width: 100%;
  gap: 30px;
  box-sizing: border-box;
}

.contact-form {
  flex: 1 1 220px;
  background: var(--surface-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px var(--shadow-color);
  text-align: center;
  color: var(--text-primary);
  transition: transform 0.3s ease-in-out;
}

.contact-form h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-accent);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 9px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-primary);
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--text-secondary); 
}

.contact-form textarea {
  resize: vertical; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary-accent);
}

.contact-form button {
  padding: 10px 20px;
  background-color: var(--primary-accent);
  color: var(--surface-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--secondary-accent);
}

.carousel-wrapper {
  flex: 2 350px;
  height: auto;
  max-width: 100%;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 8px 20px var(--shadow-color);
  padding: 0;
  background: var(--background-color2);
}


.carousel .slide img {
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}


.carousel {
  max-height: 330px;
  overflow: hidden;
}


.carousel .thumbs-wrapper {
  padding: 0;
  background-color: var(--background-color2);
  max-height: 50px;
  overflow-x: auto; 
  white-space: nowrap; 
}

.carousel .thumb {
  border: 2px solid var(--border-color);
  transition: border 0.3s ease-in-out;
  max-height: 50px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 8px;
}

.carousel .thumb:hover,
.carousel .thumb.selected {
  border: 2px solid var(--secondary-accent);
}


.carousel .control-arrow {
  display: none;
}

.modal {
  background-color:var(--surface-color);
  position: fixed; 
  z-index: 1000; 
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.overlay {
  background: rgba(0, 0, 0, 0.6); 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex; 
  align-items: center;
  justify-content: center;
}


.modal .success-icon {
  font-size: 3rem; 
  color: var(--secondary-accent);
  margin-bottom: 20px; 
  
}


.modal h2 {
  font-size: 1.5rem;
  color: var(--primary-accent);
  margin-bottom: 10px;
}

.modal p {
  font-size: 1rem;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.modal button {
  padding: 12px 24px;
  background-color: var(--primary-accent);
  color: var(--surface-color);
  border: none;
  border-radius: 6px; 
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.modal button:hover {
  background-color: var(--secondary-accent);
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-wrapper {
    max-width: 100%;
    margin: 0 auto;
    max-height: 350px;
  }

  .contact-form{
    margin-bottom:90px;
  }

  .carousel {
    max-height: 250px;
  }

  .carousel .thumbs-wrapper {
    max-height: 70px;
  }

  .carousel .thumb {
    max-height: 40px;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
  }
}


@media (min-width: 600px) and (max-width: 1024px) {
  .contact-container {
    justify-content: center;
    gap: 20px;
  }

  .contact-form {
    width: 100%;
    max-width: 450px;
  }

  .carousel-wrapper {
    max-width: 70%;
    margin: 0 auto;
  }

  .carousel {
    max-height: 350px;
  }

  .carousel .thumbs-wrapper {
    max-height: 90px;
  }

  .carousel .thumb {
    max-height: 50px;
  }

  .cont {
    padding: 40px 15px;
  }

  .contact-container,
  .carousel-wrapper {
    box-sizing: border-box;
  }
}
